[Unit]
Description=r4d server
Documentation=man:r4dd(8)
After=network.target

[Service]
Type=simple
User=www-data
ExecStart=/usr/bin/r4dd -c /etc/r4d.cfg
[Install]
WantedBy=default.target
