Source: r4d
Section: misc
Priority: optional
Maintainer: Benedikt Spranger <b.spranger@linutronix.de>
Build-Depends: dh-python,
  debhelper (>= 9.20160709~),
  python (>= 2.7~),
  git
Standards-Version: 4.1.2
Homepage: http://ci-rt.linutronix.de

Package: r4d
Architecture: all
Depends: ${misc:Depends},
  ${python:Depends},
  python (>= 2.7~),
  python-sqlalchemy,
  python-pysimplesoap,
  snimpy,
  snmp-mibs-downloader,
  sqlite3,
  lsb-base
Description: Remote For Device-under-test (R4D) Daemon
 Remote For Device-under-test (R4D) Daemon acts as controlling server for test
 racks. Each Rack contains a serial device server and a power control switch.
 A rack can host several DUTs (device-under-test).
 r4d connects to the serial device server and the power switch to perform
 actions on user request. A user connects to r4d through a SOAP interface.
 .
 This package contains the controlling daemon and administration tool.
